@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Hubballi&family=Poppins&display=swap");
html {
  font-size: 70%;
}
.first {
  /* background-image: url(./img/pngtree-vector-abstract-perspective-flyer-or-banner-with-white-backgroun-picture-image_984883.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #373747;
  font-family: "Poppins", sans-serif;
  margin: 0 20rem;
}
.nilvera img {
  background-repeat: no-repeat;
  background-size: cover;
  width: 30%;
}
.nilvera {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0b646e;
}
.item li a:hover {
  /* font-weight: 600; */
  transform: scale(1.22);
  color: #d61c4e;
  transition: all.2s;
}

.item ul li {
  list-style-type: none;
  margin-top: 1rem;
}
.item ul li a {
  text-decoration: none;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 1em;
  font-size: 1.2rem;
}
.item {
  height: 55px;
}

.item ul {
  text-align: center;
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid #0b646e;
}

/* .first {
  background-color: #eef0f8;
} */
.message {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  border-radius: 20px;
  background-color: transparent;
  margin: auto;
}

.message button {
  color: #dadada;
  background-color: #252837;
}
.message button:hover {
  /* border-color: #000b0c; */
  background-color: #d61c4e;
  color: white;
}
div .day-button {
  display: flex;
  align-items: flex-end;
  justify-content: end;
  gap: 0.5em;
}
div .day-button button {
  background-color: #252837;
  color: #dadada;
}

.day-button button:hover {
  color: white;
  background-color: #d61c4e;
}
.chart {
  display: flex;
}
.list {
  width: 100%;
}
.list-item:hover {
  background-color: #252837;
}
.list-item {
  cursor: pointer;
  border-bottom: 1px solid #0b646e;
  display: flex;
  justify-content: space-between;
}
.list-item span {
  color: #dadada;
}
.list-item a:hover {
  color: gray;
}
.list-item a {
  text-decoration: none;
  color: rgb(233, 233, 233);
  line-height: 15px;
}
