.first {
  background-image: url(./img/pngtree-vector-abstract-perspective-flyer-or-banner-with-white-backgroun-picture-image_984883.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #eef0f8;
}
.nilvera img {
  background-repeat: no-repeat;
  background-size: cover;
  width: 30%;
}
.nilvera {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0b646e;
}
.item li a:hover {
  /* font-weight: 600; */
  transform: scale(1.03);
  color: #d61c4e;
  transition: all.2s;
}

.item ul li {
  list-style-type: none;
  margin-top: 1rem;
}
.item ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 1em;
}
.item {
  height: 55px;
}

.item ul {
  text-align: center;
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid black;
}

/* .first {
  background-color: #eef0f8;
} */
.message {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  border-radius: 20px;
  background-color: transparent;
  margin: auto;
}

.message button {
  /* border-radius: 10px; */
  /* border-color: #0b646e; */
  color: #000b0c;
  background-color: rgb(233, 233, 233);
}
.message button:hover {
  /* border-color: #000b0c; */
  background-color: #d61c4e;
  color: white;
}
div .day-button {
  display: flex;
  align-items: flex-end;
  justify-content: end;
  gap: 1.3em;
}
div .day-button button {
  background-color: rgb(233, 233, 233);
}

.day-button button:hover {
  color: white;
  background-color: #d61c4e;
}
.chart {
  display: flex;
}
.list {
  width: 50%;
}
.list-item:hover {
  background-color: rgb(233, 233, 233);
}
.list-item {
  border-bottom: 1px solid #0b646e;
  display: flex;
  justify-content: space-between;
}
.list-item a:hover {
  color: gray;
}
.list-item a {
  text-decoration: none;
  color: #0b646e;
  line-height: 40px;
}
